<body>
<div class="container pt-4 text-center mx-auto">
  <div class="row  mb-5">
      <div class="col-lg-4 offset-lg-4 mt-5 text-center mx-auto mb-5">
          <div class="card text-center mt-5">
              <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  <h3>Login</h3>
                  <div *ngIf="loading" class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                      <span  class="visually-hidden">Loading...</span>
                    </div>
                  <span  class="badge bg-danger" *ngIf="false && loginUser.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                  <form class="mt-4"  [formGroup]="loginUser">
                      <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                          <label for="floatingInput">Email address</label>
                          <span  class="text-danger" *ngIf="loginUser.get('email')?.hasError('required') && loginUser.get('email')?.touched">
                              <p class="text-start mt-3 mb-1"><strong>Correo</strong> requerido</p>
                          </span>
                          <span  class="text-danger " *ngIf="loginUser.get('email')?.hasError('email') && loginUser.get('email')?.touched">
                              <p class="text-start mt-3 mb-1">El <strong>formato</strong> es invalido</p>
                          </span>
                      </div>
                      <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="password">
                          <label for="floatingInput">Password</label>
                      </div>
                      <span class="text-danger errorLabel" *ngIf="loginUser.get('password')?.hasError('required') && loginUser.get('password')?.touched">
                          <p class="text-start"><strong>Contraseña</strong> requerida</p>
                      </span>
                      <span class="text-danger errorLabel" *ngIf="loginUser.get('password')?.hasError('minlength') && loginUser.get('password')?.touched">
                          <p class="text-start"><strong>Contraseña</strong> invalida</p>
                      </span>
                      <div class="text-center">
                          <button type="submit" class="btn btn-dark btn-lg" [disabled]="loginUser.invalid" (click)="login()">
                              Ingresar
                          </button>
                      </div>
                      <div style="float:left; width: 100%;"><hr/></div>
                      <p>No tienes cuenta? <a routerLink="/register"> Registrar</a></p>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
